.home{
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.home .col1{
    flex: 1;
    color: #fff;
    line-height: 35px;
}


.home .col1 .button{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    outline: none;
    border: none;
    font-weight: bold;
    margin: 20px 5px;
    cursor: pointer;
    background-color: #fff;
    width: 120px;
    color: black;
}
.home .col1 .button:hover{
    background-color: gold;
}
.home .col1 h2 span{
    color: gold;
}
.home .col2{
   flex: 1;
}
.home .col2 .image_profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .col2 img{
  width: 50%;
  height: 250px;
  border-radius: 50%;




}
@media (max-width:600px){
    .home{
     flex-direction: column-reverse;
   margin: 80px auto;
  
    }
    .home .col2 img{
        width: 120%;
        height: 230px;
        border-radius: 50%;
        margin-bottom: 10px;
     
      
      
      }
  
  
   


}