/* the css of navbar //////////////////////////// */ 
nav ul{
    width: 400px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: 500;
}
.menu-bar{
    display: none;
    width: 40px;
 cursor: pointer;
}
/* //////////////////////////////////////////// */

/* the css of portfolio  */
.btn-hover{
    position:  absolute ;
    top:0;
    left: 0;
    right: 0;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
   background-color: rgba(128, 128, 128, 0.497);
  padding-top: 70px;
  cursor: pointer;
   opacity: 0;
   border-radius: 10px;
 
 }
 .image-project{
     position: relative;
  
 }

 .image-project:hover .btn-hover{
     
   padding-bottom:70px;
   transition: 1s;
   opacity: 1;
 
 }
  /*///////////////////////////////  */

/* media query of navbar */
@media(max-width:770px){
    .menu-bar{
        display: block;
        z-index: 1;
    
    }
    nav h1{
        font-size: 20px;
    }
    .nav_list{
        width: 150px;
        position: absolute;
        top:0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        height: 100vh;
        background-color:white;
       
    }
    .hide{
        width: 120px;
        position: absolute;
        top:0;
        right: -120px;

    }

}
@media (min-width: 771px) and (max-width: 900px){
    nav ul{
        width: 350px;
       display: flex;
       justify-content: space-between;
       align-items: center;
    }

}
